
.warp
{
background: purple;
}
nav 
{

background-color: orange;
}
nav li 
{
	display: inline;
}
.primary 
{
	background: green;

}
aside 
{
	background: yellow;
}
header 
{
	background: pink;
}
.main
{
	margin-top: 30px;
	background: blue;
}
section
{
	padding: 10px;
}
